#{extends 'main.html' /}
#{set title:'Name The Kid' /}

<div id="names">
    <div id="boys">
        <h2>Boys Names</h2>

        <ul>
            #{list items:boys, as:'boy'}
            <li>
                #{form @Application.addVote(boy.id)}
                <div id="kid_name">
                    <span id="kid_more">${boy.name} </span>
                    <input class="boy_button" type="submit" value="Vote" />
                </div>
                #{/form}
            </li>
            #{/list}
        </ul>
    </div>

    <div id="girls">

        <h2>Girls Names</h2>
        <ul>
            #{list items:girls, as:'girl'}
            <li>
                #{form @Application.addVote(girl.id)}
                <div id="kid_name">
                    <span id="kid_more">${girl.name}</span>
                    <input class="girl_button" type="submit" value="Vote" />
                </div>
                #{/form}
            </li>
            #{/list}
        </ul>
    </div>
    <div id="both">&nbsp</div>
</div>

<p> We are expecting another baby, and the older children
    have some suggestions for names.  Please vote for a
    name.  You can vote more than once.  If fact, you are
    encouraged to vote multiple times.</p>